html, body { height: 100% }

.container-fluid {
    margin-top: 20px;
}

#primarymap {
    width: 100%;
    height: 480px;
}
.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info #logplot{
    display: block;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}
.info table tr td{
    vertical-align: top;
}
.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
}

.sparkline {
  stroke: #113b92;
  fill: #8ea5d4;
}
.increase{
    color: #113b92;
}
.totals {
    border: 1px solid #113b92;;
    margin-bottom: 20px;
    padding: 10px;
    text-align: center;;
}
.totals p.total_number{
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 0px;
    color: #113b92;
}

.totals .total_change{
    color: #8ea5d4;
    font-size: 0.8em;
}

.totals p.total_location{
    margin-top: 0px;
    text-transform: uppercase;
    color: #CCC;;
    font-size: 0.8em;
}


  .footer {
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: #EEE;
  }
  
  .box{
      margin-bottom: 40px;
    }

    .navbar {
        background-color: #113b92;
        color: white;
    }

button#get_estimate{
    background-color: #113b92;
    color: white;
}

.leaflet-container{
    background: #FFF;
}

img#interaction-guide {
    border-radius: 0px;
    border: 1px solid #aaa;
    height: 50px;
}

.TKAdjustableNumber {
    font-weight: bold;
}